@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.9783 0.0067 295.4527;
    --foreground: 0.3038 0.0198 293.5244;
    --card: 0.9981 0.0017 325.5889;
    --card-foreground: 0.0000 0.0000 0.0000;
    --popover: 0.9981 0.0017 325.5889;
    --popover-foreground: 0.0000 0.0000 0.0000;
    --primary: 0.4927 0.2257 289.3142;
    --primary-foreground: 1.0000 0.0000 0.0000;
    --secondary: 0.5708 0.1987 354.2486;
    --secondary-foreground: 1.0000 0.0000 0.0000;
    --muted: 0.9432 0.0246 298.6077;
    --muted-foreground: 0.5233 0.0333 298.3102;
    --accent: 0.7744 0.1137 229.8444;
    --accent-foreground: 0.0000 0.0000 0.0000;
    --destructive: 0.6003 0.1876 33.3760;
    --destructive-foreground: 0.0000 0.0000 0.0000;
    --border: 0.9013 0.0403 299.7461;
    --input: 0.8020 0.0402 300.1531;
    --ring: 0.5922 0.2262 289.4264;
    --radius: 0.375rem;
    --success: 0.696 0.170 163.2;
    --info: 0.623 0.214 259.8;
    --chart-1: 0.5748 0.1972 289.1723;
    --chart-2: 0.6161 0.1246 231.2949;
    --chart-3: 0.7386 0.1395 289.5504;
    --chart-4: 0.4368 0.0965 237.7333;
    --chart-5: 0.4058 0.2050 289.6184;
    --sidebar-background: 0.9783 0.0067 295.4527;
    --sidebar-foreground: 0.0000 0.0000 0.0000;
    --sidebar-primary: 0.4927 0.2257 289.3142;
    --sidebar-primary-foreground: 1.0000 0.0000 0.0000;
    --sidebar-accent: 0.9981 0.0017 325.5889;
    --sidebar-accent-foreground: 0.0000 0.0000 0.0000;
    --sidebar-border: 0.9013 0.0403 299.7461;
    --sidebar-ring: 0.5922 0.2262 289.4264;
  }

  .dark {
    --background: 0.2115 0.0332 288.6098;
    --foreground: 0.9486 0.0220 300.2022;
    --card: 0.1806 0.0344 287.8340;
    --card-foreground: 1.0000 0.0000 0.0000;
    --popover: 0.1806 0.0344 287.8340;
    --popover-foreground: 1.0000 0.0000 0.0000;
    --primary: 0.7328 0.1495 290.5348;
    --primary-foreground: 0.0000 0.0000 0.0000;
    --secondary: 0.7703 0.1402 8.7086;
    --secondary-foreground: 0.0000 0.0000 0.0000;
    --muted: 0.2297 0.0600 287.8966;
    --muted-foreground: 0.7349 0.0387 287.1042;
    --accent: 0.4532 0.0835 221.6175;
    --accent-foreground: 1.0000 0.0000 0.0000;
    --destructive: 0.6918 0.1997 33.2464;
    --destructive-foreground: 0.0000 0.0000 0.0000;
    --border: 0.3168 0.0733 286.8877;
    --input: 0.4182 0.0724 286.9903;
    --ring: 0.6331 0.1496 290.4918;
    --success: 0.696 0.170 163.2;
    --info: 0.673 0.182 259.8;
    --chart-1: 0.6345 0.1411 290.4105;
    --chart-2: 0.6414 0.1142 216.4105;
    --chart-3: 0.7943 0.1126 291.0580;
    --chart-4: 0.4532 0.0835 221.6175;
    --chart-5: 0.4403 0.1223 290.6610;
    --sidebar-background: 0.2115 0.0332 288.6098;
    --sidebar-foreground: 1.0000 0.0000 0.0000;
    --sidebar-primary: 0.7328 0.1495 290.5348;
    --sidebar-primary-foreground: 0.0000 0.0000 0.0000;
    --sidebar-accent: 0.1709 0.0328 288.1431;
    --sidebar-accent-foreground: 1.0000 0.0000 0.0000;
    --sidebar-border: 0.3168 0.0733 286.8877;
    --sidebar-ring: 0.6331 0.1496 290.4918;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  ::selection {
    background-color: oklch(0.4927 0.2257 289.3142);
    color: oklch(1.0000 0.0000 0.0000);
  }

  ::-moz-selection {
    background-color: oklch(0.4927 0.2257 289.3142);
    color: oklch(1.0000 0.0000 0.0000);
  }
}
