# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Debug keystore
app/debug.keystore

# Build variants
app/src/debugOptimized/

# Bundle artifacts
*.jsbundle
